/* Umubiri w'urupapuro */
body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('deh.jpg');
    background-size: cover;
    color: #333;
}
form{
    text-align: center;
    color: aliceblue;
    background-color: #ed650a;
    border-color: black;
}

/* Umutwe w'urupapuro */
header {
    background-color: #da7d12;
    color: white;
    text-align: center;
    padding: 50px 20px;
}

header h1 {
    margin-bottom: 10px;
    font-size: 2.5em;
}

/* Igice cya About */
.about .container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px 20px;
    max-width: 1000px;
    margin: auto;
    gap: 30px;
}

.about img {
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.about .text {
    flex: 1;
    min-width: 300px;
}

.about h2, .about h3 {
    color: #ed650a;
}

.about ul {
    list-style: square;
    margin-left: 20px;
}

/* Footer */
footer {
    background-color: #df7a07;
    color: white;
    text-align: center;
    padding: 20px;
}
